
    <link rel="stylesheet" href="/assets/css/blog.css">



    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->
   
    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content"  style="margin-top:80px;">
            <!-- ============================================ -->
            <!--                 Blog Articles                -->
            <!-- ============================================ -->

            {% if collections.post | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
                {%- for post in collections.post | reverse -%}
                    <article class="recent-articles">
                        <a href="{{ post.url }}"><h2 class="blog-h1">
                            {{ post.data.title }}
                        </h2>
                    </a>
                    
                 
                            
                                <!--Author Image
                                <picture class="blog-author-img">
                                    <img
                                    src="/assets/svgs/profile.svg"
                                    alt="house"
                                    width="32"
                                    height="32"
                                    decoding="async"/>
                                </picture>-->
                                <!--<span class="blog-author">{{ post.data.author }}</span>-->
                                
                        
                       
                  
                    </article>
                {%- endfor -%}
            {% endif %}
        </div>

       
    </div>
 
    
